     padding-block: convert.to-rem(3px) convert.to-rem(3px);
   }
 
  //----------------------------------------------------------------------------
  // Large
  //----------------------------------------------------------------------------
  .#{$prefix}--data-table--lg .#{$prefix}--table-header-label {
    padding-block: $spacing-05 $spacing-05;
  }

  .#{$prefix}--data-table--lg td,
  .#{$prefix}--data-table--lg tbody tr th {
    padding-block: $spacing-05 $spacing-05;
  }

   //----------------------------------------------------------------------------
   // Extra Large
   //----------------------------------------------------------------------------